.wp-block-voxels__grid_row {
  display: inline-block;
  width: 100%;

  :after {
    clear: both;
  }
}

.wp-block-voxels__content-area { width: 60%; float: left; }

.wp-block-voxels__aside-area { width: 35%; float: left; }
