/**
 * #.# Styles for Button Block.
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-voxels-button {
  @include voxels-z-depth-2();

  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;

  .wp-block-voxels-button-inner {
    font-family: $family-sans-serif;
    text-decoration: none !important;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
    display: inline-block;
  }

  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  font-size: 1em;

  &:hover {
    opacity: 0.85;
    box-shadow: none !important;

    @include voxels-z-depth-0();
  }

  .blocks-button__inline-link {
    display: block;
  }
}

.wp-block-voxels-button-small.wp-block-voxels-button .wp-block-voxels-button-inner {
  font-size: 0.75em;
}

.wp-block-voxels-button-medium.wp-block-voxels-button {
  padding-left: 1.25em;
  padding-right: 1.25em;

  .wp-block-voxels-button-inner {
    font-size: 1.25em;
  }
}

.wp-block-voxels-button-large.wp-block-voxels-button {
  padding-left: 1.5em;
  padding-right: 1.5em;

  .wp-block-voxels-button-inner {
    font-size: 1.5em;
  }
}

.wp-block-voxels-button-left {
  margin-right: auto;
  display: table;
}

.wp-block-voxels-button-center {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.wp-block-voxels-button.wp-block-voxels-button-right {
  margin-left: auto;
  display: table;
}

.wp-block-voxels-button.wp-block-voxels-button-full {
  display: block;
  text-align: center;
}