.wp-block-voxels-image-control {
  .wp-block-voxels-placeholder {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    margin-bottom: 12px;
    margin-top: 0.6rem;

    svg {
      height: 50px;
      fill: #ddd;
    }
  }

  .wp-block-voxels-placeholder,
  .wp-block-voxels-image-preview {
    border-radius: 4px;
    cursor: pointer;
  }

  .wp-block-voxels-image-preview-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    margin-top: 0.6rem;
    border-radius: 4px;

    svg {
      stroke: rgba(0, 0, 0, 0.3);
      stroke-width: 1px;
      fill: #fff;
    }
  }

  .wp-block-voxels-image-preview {
    min-width: 100px;
    flex: 1 1 100px;
    margin: 0;
  }

  .wp-block-voxels-image-preview-remove {
    background: none !important;
    color: #ddd;
    border: none;
    position: absolute;
    top: 10px;
    right: 4px;
    cursor: not-allowed;
  }
}
