/**
 * #.# Styles for Card Block.
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-voxels-card *,
.wp-block-voxels-horizontal-card *,
.wp-block-voxels-polaroid * p,
ul li,
ol li {
  font-family: $family-sans-serif;
}

.wp-block-voxels-card {
  @include baseBlock();
  @include box();

  border-radius: 4px;

  .wp-block-voxels-card-image-container {
    height: 300px;
    background-size: cover;
    background-position: center;
    border-top-right-radius: $box-radius;
    border-top-left-radius: $box-radius;
    padding-top: 0;
    margin: calc(var(--box-padding-vert) * -1) calc(var(--box-padding-hori) * -1) var(--box-padding-vert) !important;
    width: calc(100% + var(--box-padding-hori) * 2);

    + *:not(.wp-block-voxels-button) {
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
  }
}
