/**
 * #.# Styles for Card Block.
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-voxels-card *,
.wp-block-voxels-horizontal-card *,
.wp-block-voxels-polaroid * p,
ul li,
ol li {
  font-family: $family-sans-serif;
}

.wp-block-voxels-card {
  @include baseBlock();
  @include box();

  border-radius: 4px;

  .wp-block-voxels-card-image-container {
    @include baseBlock();

    height: 300px;
    background-size: cover;
    background-position: center;
    border-top-right-radius: $box-radius;
    border-top-left-radius: $box-radius;
    padding-top: 0;
    margin: calc(var(--box-padding-vert) * -1) calc(var(--box-padding-hori) * -1) var(--box-padding-vert) !important;
    width: calc(100% + var(--box-padding-hori) * 2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);

    + *:not(.wp-block-voxels-button) {
      padding: 1rem 0 1rem 0;
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
  }

svg {
      width: 100%;
      height: 90%;
      padding-top: 2%;
      fill: rgba(0, 0, 0, 0.075);
      margin: auto;
    }
}

.wp-block-voxels-card-horizontal-image svg {
      width: 50%;
      height: 50%;
      fill: rgba(0, 0, 0, 0.075);
      margin: auto;
}
