/**
 * #.# Common SCSS
 *
 * Common across project.
 *
*/

$break-huge: 1440px;
$break-wide: 1280px;
$break-large: 960px;
$break-medium: 782px;
$break-small: 600px;
$break-mobile: 480px;

$box-radius: 4px;
$box-hori-padding: 35px;
$box-vert-padding: 60px;

@mixin box() {
  @include voxels-z-depth-2();

  --box-padding-vert: #{$box-vert-padding};
  --box-padding-hori: #{$box-hori-padding};

  transition: all 200ms ease;
  background-color: #fff;
  border-radius: $box-radius;
  overflow: hidden;
  padding: $box-vert-padding $box-hori-padding;

  @media screen and (max-width: $break-medium) {
    --box-padding-vert: #{($box-vert-padding * 2/3)};
    --box-padding-hori: #{($box-hori-padding * 2/3)};

    padding: ($box-vert-padding * 2/3) ($box-hori-padding * 2/3);
  }

  @media screen and (max-width: $break-small) {
    --box-padding-vert: #{$box-hori-padding};
    --box-padding-hori: #{($box-hori-padding / 2)};

    padding: $box-hori-padding ($box-hori-padding / 2);
  }

  &:hover {
    @include voxels-z-depth-1();

    transition: all 200ms ease;
  }
}

@mixin baseBlock() {
  @include blockContentReset();

  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

@mixin blockContentReset() {
  > * {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;

    &:first-child {
      margin-top: 0 !important;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}

@mixin baseButton() {
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  font-size: 1em;
  line-height: 1.5 !important;
  align-items: center;
}

/**
 * Z-Levels
 */
@mixin voxels-z-depth-0() {
  box-shadow: none !important;
}

/* 2dp elevation modified */
@mixin voxels-z-depth-1() {
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

@mixin voxels-z-depth-1-half() {
  box-shadow:
    0 3px 3px 0 rgba(0, 0, 0, 0.14),
    0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

/* 6dp elevation modified */
@mixin voxels-z-depth-2() {
  box-shadow:
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

/* 12dp elevation modified */
@mixin voxels-z-depth-3() {
  box-shadow:
    0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* 16dp elevation */
@mixin voxels-z-depth-4() {
  box-shadow:
    0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

/* 24dp elevation */
@mixin voxels-z-depth-5() {
  box-shadow:
    0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12),
    0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

[data-type^="voxels/"][data-align="full"] + [data-type^="voxels/"][data-align="full"] {
  margin-top: -32px;
}

.gutenberg {
  .wp-block-voxels-editor-label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: $family-sans-serif;
    color: #8e979e;
    padding: 2em 0 0;
    background: #fff;
    border: none;
    box-shadow: none;
    white-space: nowrap;
    display: block;

    &:first-child {
      padding-top: 0;
    }
  }
}

[class*="voxels-"] ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;

  & > li {
    list-style-type: none;
  }
}

[class*="voxels-"] form[class*="-link"],
form[class*="voxels-"][class*="-link"],
[class*="voxels-"] + form[class*="-link"],
[data-type^="voxels/"][data-align="full"] + [data-type^="voxels/"][data-align="full"] {
  display: flex;
  justify-content: center;
  align-items: center;

  .wp-block-voxels__hoverable {
    transition: box-shadow 0.25s;

    & :hover {
      box-shadow:
        0 8px 17px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

  a.wp-block-voxels {
    color: $link-color;
    text-decoration: none;

    // Gets rid of tap active state
    -webkit-tap-highlight-color: transparent;
  }

  // Positioning
  .wp-block-voxels__valign-wrapper {
    display: flex;
    align-items: center;
  }

  // classic clearfix
  .wp-block-voxels__clearfix {
    clear: both;
  }

  // Z-levels
  .wp-block-voxels__z-depth-0 {
    box-shadow: none !important;
  }

  /* 2dp elevation modified */
  .wp-block-voxels__z-depth-1 {
    box-shadow:
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12),
      0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .wp-block-voxels__z-depth-1-half {
    box-shadow:
      0 3px 3px 0 rgba(0, 0, 0, 0.14),
      0 1px 7px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -1px rgba(0, 0, 0, 0.2);
  }

  /* 6dp elevation modified */
  .wp-block-voxels__z-depth-2 {
    box-shadow:
      0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12),
      0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }

  /* 12dp elevation modified */
  .wp-block-voxels__z-depth-3 {
    box-shadow:
      0 8px 17px 2px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12),
      0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }

  /* 16dp elevation */
  .wp-block-voxels__z-depth-4 {
    box-shadow:
      0 16px 24px 2px rgba(0, 0, 0, 0.14),
      0 6px 30px 5px rgba(0, 0, 0, 0.12),
      0 8px 10px -7px rgba(0, 0, 0, 0.2);
  }

  /* 24dp elevation */
  .wp-block-voxels__z-depth-5 {
    box-shadow:
      0 24px 38px 3px rgba(0, 0, 0, 0.14),
      0 9px 46px 8px rgba(0, 0, 0, 0.12),
      0 11px 15px -7px rgba(0, 0, 0, 0.2);
  }

  .wp-block-voxels__divider {
    height: 1px;
    overflow: hidden;
    background-color: color("grey", "lighten-2");
  }

  blockquote.wp-block-voxels {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid $primary-color;
  }

  // Icon Styles
  i.wp-block-voxels {
    line-height: inherit;

    & .wp-block-voxels__left {
      float: left;
      margin-right: 15px;
    }

    & .wp-block-voxels__right {
      float: right;
      margin-left: 15px;
    }

    & .wp-block-voxels__tiny {
      font-size: 1rem;
    }

    & .wp-block-voxels__small {
      font-size: 2rem;
    }

    & .wp-block-voxels__medium {
      font-size: 4rem;
    }

    & .wp-block-voxels__large {
      font-size: 6rem;
    }
  }

  // Images
  img.wp-block-voxels__responsive-img,
  video.wp-block-voxels__responsive-video {
    max-width: 100%;
    height: auto;
  }
}

.editor-block-list__block[data-type^="voxels/"] {
  form.blocks-button__inline-link {
    margin: 1rem auto 0 auto;

    .editor-url-input {
      max-width: 300px;
      flex: 1;
      width: auto;
      margin-left: 8px;

      [type="text"] {
        width: 100% !important;
      }
    }
  }
}

@media #{$medium-and-down} {
  .pagination {
    width: 100%;

    li.prev,
    li.next {
      width: 10%;
    }

    li.pages {
      width: 80%;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
